# Carpetas de compilación de .NET
[Bb]in/
[Oo]bj/

# Configuraciones de Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Archivos de usuario y temporales
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp
*~

# Archivos de sistema operativo (Mac/Windows/Linux)
.DS_Store
Thumbs.db

# Logs
*.log